@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css variables */
:root {
  --contrast: #a5b1c2;
  --colour: #222222;
  --accent: #d991ef;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --contrast: #a5b1c2;
    --colour: #222222;
    --accent: #d991ef;
  }
} */

[data-theme='dark'] {
  --contrast: #a5b1c2;
  --colour: #222222;
  --accent: #d991ef;
}


body {
  color: var(--colour);
  background: var(--contrast);
  font-family: Arial, Helvetica, sans-serif;
}

/* When cursor hovers a link or button effect*/
body:has(a:hover, select:hover, button:hover) .cursor {
  width: 40px;
  height: 40px;
  background: transparent;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

/* Cursor to revert back to normal with transition */
.cursor {
  width: 20px;
  height: 20px;
  background: var(--colour);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

@keyframes cursor {
  50% {
    width: 5px;
    height: 5px;
  }

}

.cursor-clicked {
  animation: cursor .25s forwards linear;
}

.group:hover .peer:not(:hover) {
  filter: grayscale(1) blur(1px);
}

.peer:hover {
  transform: scale(1.1);
}