@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contrast: #000000;
  --colour: #00ffa0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --contrast: #00ffa0;
    --colour: #000000;
  }
}

body {
  color: var(--colour);
  background: var(--contrast);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes cursor {
  50% {
    width: 10px;
    height: 10px;
  }

}

.cursor-clicked {
  animation: cursor .35s forwards ease-out;
}

.group:hover .peer:not(:hover) {
  filter: grayscale(1) blur(1px);
}

.peer:hover {
  transform: scale(1.1);
}